<p id="notice"><%= notice %></p>

<div class="col-md-8">
  <% if @blogs.any? %>
    <h1 class="title" >Blogs (<%= @blogs.count %>)</h1>
    <ul class="blogs">
      <%= render @blogs %>
    </ul>
    <%= will_paginate @blogs %>
    <span class="timestamp">
  </span>
  <% end %>
</div>

<br>

<%= link_to 'New Blog', new_blog_path %>
